* {
   text-decoration: none;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #000080;
   color: white;
   padding: 10px 20px;
}

.navbar .logo {
   font-size: 24px;
   font-weight: bold;
   border-width: 10px;
   padding: 10px;
   transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
   color: white; 
 }
 
 .navbar .logo:hover {
   background-color: #D3D3D3;
   color: #000000;
 }

.navbar .nav-links a {
   text-decoration: none;
   width: 100%;
   color: white;
   font-size: 18px;
   transition: color 0.3s, background-color 0.3s;
}

.navbar .nav-links li {
   padding: 10px;
   transition: 0.5s;
}

.navbar .nav-links li:hover,
#active {
   border-radius: 20px;
   background-color: rgb(0, 82, 246);
   transform: scale(1.2);
}

/* Cart */
.cart {
   position: fixed;
   right: 0;
   top: 0;
   background-color: #ffffff;
   height: 100vh;
   padding: 5px;
   border-left: 1px solid black;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 400px;
   transition: 0.3s ease; /* Transition transform */
   transform: translateX(80%); /* Initially off-screen */
   opacity: 0; /* Initially hidden with opacity */
   visibility: hidden; /* Hide the element completely */
   z-index: 1000;
   box-sizing: border-box;
}

.cart.act {
   transform: translateX(0%); /* Slide in */
   opacity: 1; /* Make visible */
   visibility: visible;
}

.top_cart {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.cart .top_cart .close1 i {
   font-size: 35px;
   cursor: pointer;
   margin-left: 32px;
}



.cart .top_cart .close1 i:hover{
   color: red;
}




.cart .top_cart h3 {
   font-size: 18px;
}

.cart .top_cart h3 span {
   font-size: 14px;
   font-weight: normal;
   color: #4f4e4e;
   margin-left: 8px;
}

.cart .item_in_cart {
   border: 1px solid black;
   padding: 10px;
   margin-block: 20px;
   overflow-y: auto;
   flex-grow: 1;
   box-sizing: border-box; 
}

.cart .buttom_Cart {
   padding: 10px;
   box-sizing: border-box;
}

.cart .buttom_Cart .total {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
}

.cart .buttom_Cart .price_cart_total {
   color: rgb(0, 0, 0);
}

.cart .buttom_Cart .chekoutbtn {
   display: flex;
   flex-direction: column;
   gap: 10px;
   text-align: center;
   font-size: 16px;
   text-transform: uppercase;
   background-color: yellow;
   box-sizing: border-box;
   width: 100%; 
}

.cart .buttom_Cart .checkout-button-wrapper {
   width: 100%;
   box-sizing: border-box;
}

.cart .buttom_Cart .chekoutbtn .btn_cart {
   border: 2px solid black;
   padding: 10px;
   border-radius: 5px;
   width: 100%;
   box-sizing: border-box;
   background-color: transparent;
   color: black;
   transition: background-color 0.3s, color 0.3s;
   text-align: center;
   display: block; }

.cart .buttom_Cart .chekoutbtn .btn_cart:hover {
   background-color: rgb(0, 0, 0);
   color: yellow;
}

.cart .item {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   gap: 10px;
   padding: 2px 8px;
   width: 90%;
   align-items: center;
   box-sizing: border-box; 
}

.cart .item .delet {
   display: flex;
   justify-content: center;
   text-align: center;
}

.cart .item .delet button {
   height: 30px;
   width: 30px;
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.cart .item .content .book_price {
   font-weight: lighter;
   color: #022752;
}

.cart .item .imgbook img {
   width: 60px;
   box-sizing: border-box;
}

.cart .item:last-child {
   margin-bottom: 0;
}

.delet_item {
   border: none;
   background-color: #ffffff;
}

.delet_item i {
   font-size: 18px;
   transition: 0.3s;
   cursor: pointer;
}

.delet_item i:hover {
   color: red;
   transform: scale(1.2);
}